#homepage-image {
  margin: auto;
  display: block;
  max-width: 80%
}

p {
  text-align: center;
}

h1 {
  text-align: center;
  padding-top: 10px
}

h3 {
  text-align: center;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  /*display: inline;*/
  float: left;
}

a {
  /*display: block;*/
  padding: 8px
}

table {
  margin: auto;
}

h6 {
  margin: auto;
  text-align: center;
}

.activities {
  width: 600px;
  display: block;
  margin: auto;
}

.floated-img {
  float: left;
  overflow: hidden;
  height: 390px;
  width: 590px;
}

.floated-img img {
  max-width: 100%;
}
/*http://stackoverflow.com/questions/2562737/what-ways-can-i-put-images-in-a-grid-like-format*/

.wrap {
  width: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*https://martinwolf.org/blog/2013/04/centered-fluid-width-navigation-with-floating-links-thanks-to-fit-content*/
.container {
  width: 700px;
  margin: 0 auto;
}

.return {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}
