* {
  text-decoration: none;

}
body {
  background-color: aquamarine;
}

p,li {
  color: black;

}

a {
  background-color: oldlace;
}

a:link,a:visited {
  color: black;
}

a:hover {
  color: grey;
}

a:active {
  color: white;
}
