* {
  text-decoration: none;

}
body {
  background-color: aquamarine;
}

p,li, td {
  color: midnightblue;
  font-size: 20px;
}

td {
  font-size: 32px;
  text-align: center;
  padding-left: 3px
}

a {
  background-color: oldlace;
}

a:link,a:visited {
  color: black;
}

a:hover {
  color: grey;
}

a:active {
  color: white;
}

h6 {
  font-size: 24px;
}

h1 {
  font-family: fantasy;
  font-size: 50px;
  background-color: oldlace;
  color: dodgerblue;
}
